
empresax/.vs/empresax/DesignTimeBuild/.dtbcache.v2
empresax/.vs/empresax/FileContentIndex/12d2dd48-0a6c-409c-a1ea-21c79002bed2.vsidx
empresax/.vs/empresax/FileContentIndex/2b767eb3-4fd4-47a9-b8eb-498d8374069d.vsidx
empresax/.vs/empresax/FileContentIndex/97acc317-7300-4e10-a364-37c0dbde507a.vsidx
empresax/.vs/empresax/FileContentIndex/eee11dca-14f7-408f-8d0e-a093a003dccf.vsidx
empresax/.vs/empresax/FileContentIndex/f03dc9d1-28c1-49bf-8766-9407fa209bed.vsidx
empresax/.vs/empresax/v17/TestStore/0/000.testlog
empresax/.vs/empresax/v17/.suo
empresax/.vs/empresax/v17/DocumentLayout.json
empresax/.vs/empresax/v17/TestStore/0/testlog.manifest
empresax/ControleVendas/obj/Debug/net8.0-windows/apphost.exe
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.assets.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.BuildWithSkipAnalyzers
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.FileListAbsolute.txt
empresax/.vs/empresax/FileContentIndex/0097ff57-7418-47b1-90cc-4dacec71d8a5.vsidx
empresax/.vs/empresax/FileContentIndex/a595067a-b776-464a-968a-5fbb5d8c43fb.vsidx
empresax/.vs/empresax/FileContentIndex/e4775dea-71a2-491f-b592-34d48e1dd9cd.vsidx
empresax/.vs/empresax/FileContentIndex/ea0e537e-186d-42ac-a5d6-e014b9713a81.vsidx
empresax/.vs/empresax/FileContentIndex/31e735e5-2d65-4cf9-8644-52fc5eb31500.vsidx
empresax/.vs/empresax/FileContentIndex/3950d0c4-0aeb-475b-9c6f-024128f84be9.vsidx
empresax/.vs/empresax/FileContentIndex/9d041d9d-26c7-49c7-b73c-3aaa13f4b137.vsidx
empresax/.vs/empresax/FileContentIndex/9dad1e72-1ca1-4fc6-a046-2455d859a2c4.vsidx
empresax/.vs/empresax/FileContentIndex/e0ac7621-91fa-4c49-933b-3991b6445a81.vsidx
empresax/.vs/empresax/FileContentIndex/586f074f-3310-4bc2-9b5c-4d8db5ddb1a5.vsidx
empresax/.vs/empresax/FileContentIndex/58a8cf6d-9c38-456d-aaaa-c8ec416af0b7.vsidx
empresax/.vs/empresax/FileContentIndex/58b710ad-53c1-4b3c-8ba8-1ebb7d32eb14.vsidx
empresax/.vs/empresax/FileContentIndex/bd87fb25-82db-47c2-9b73-cc0df6678128.vsidx
empresax/.vs/empresax/FileContentIndex/ce3bc10e-9541-42a1-972d-7b800600dcb3.vsidx
empresax/.vs/empresax/v17/.futdcache.v2
empresax/.vs/ProjectEvaluation/empresax.metadata.v8.bin
empresax/.vs/ProjectEvaluation/empresax.projects.v8.bin
empresax/.vs/ProjectEvaluation/empresax.strings.v8.bin
empresax/.vs/empresax/FileContentIndex/15cce830-7b6f-4c5e-8843-a731303fbb6f.vsidx
empresax/.vs/empresax/FileContentIndex/2b940b4a-4143-43f6-a176-749ec4bb3f11.vsidx
empresax/.vs/empresax/FileContentIndex/4800b38a-0b22-440d-a1a5-e912a1a53022.vsidx
empresax/.vs/empresax/FileContentIndex/81c2eebd-ffc5-4b6c-aeaa-58c984073a0a.vsidx
empresax/.vs/empresax/FileContentIndex/a4dd9533-12f4-4cbb-b690-3d94e22ec2b5.vsidx
empresax/.vs/empresax/FileContentIndex/56cba0c8-3651-445e-a8f9-e7ad2b4b0186.vsidx
empresax/.vs/empresax/FileContentIndex/6ecbac8d-0630-4f01-94cc-d28e852f664f.vsidx
empresax/.vs/empresax/FileContentIndex/b22e8176-ce9a-4268-a6e8-f7f7f6ee9c32.vsidx
empresax/.vs/empresax/FileContentIndex/d25e7dff-7430-4c00-ab64-f7f4a624a4dc.vsidx
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.AssemblyInfo.cs
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.AssemblyInfoInputs.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.CoreCompileInputs.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.GenerateResource.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.dll
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.formularios.pesquisas.frmPesquisarCliente.resources
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.pdb
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.sourcelink.json
empresax/ControleVendas/obj/Debug/net8.0-windows/ref/ControleVendas.dll
empresax/ControleVendas/obj/Debug/net8.0-windows/refint/ControleVendas.dll
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.AssemblyInfo.cs
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.AssemblyInfoInputs.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.CoreCompileInputs.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.csproj.GenerateResource.cache
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.dll
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.pdb
empresax/ControleVendas/obj/Debug/net8.0-windows/ControleVendas.sourcelink.json
empresax/ControleVendas/obj/Debug/net8.0-windows/ref/ControleVendas.dll
empresax/ControleVendas/obj/Debug/net8.0-windows/refint/ControleVendas.dll
